[submodule "ext/libelfin"]
	path = ext/libelfin
	url = https://github.com/antoyo/libelfin.git
[submodule "ext/linenoise"]
	path = ext/linenoise
	url = https://github.com/antirez/linenoise.git
[submodule "ext/zydis"]
	path = ext/zydis
	url = https://github.com/zyantific/zydis.git
